<div id="bheader">
	<div class="headerContent"><%= school.name %> High School |</div> 
	<div class="headerContent">Record: <%= school.wins %> &#8211;<%= school.losses%> |</div>
	<div class="headerContent">Off: <%= school.pts_for %> Def: <%= school.pts_against%></div>
	<div class="break" />
</div>
	<div id="contentBox"><p><b>2012 Recap:</b> <%= school.content %></p></div>
	<div id="advert_box">
		<% if school.advertiser %> 
		<%= school.advertiser.business_name %> <br />
		<%= school.advertiser.advertisement %><br />
		<a href="http://<%= school.advertiser.url %>"><%= school.advertiser.url %></a>
		<% else %>
			<p>Would you like to advertise here? Please <%= link_to "Sign Up", new_advertiser_registration_path %></p>
		<% end %>
	</div>
	<div id="bfooter">
	<p>see something wrong? Have a comment? <a href="#contact">Contact</a></p>
</div>
