<div id="header">
	<div class="headerContent"><%= school.name %> High School |</div> 
	<div class="headerContent">Record: <%= school.wins %> &#8211;<%= school.losses%> |</div>
	<div class="headerContent">Off: <%= school.pts_for %> Def: <%= school.pts_against%></div>
	<div class="break" />
</div>
	<div id="contentBox"><p><b>2012 Recap:</b> <%= school.content %></p></div>
	<div id="advert_box">
		
	</div>
	<div id="footer">
	<p>see something wrong? Have a comment? <a href="#contact">Contact</a></p>
</div>
